.poster {
  position: relative;
}

.poster__image {
  position: absolute;
  z-index: 8;
  transition: filter 450ms 0.5s;
}

.poster__image:hover {
  filter: blur(6px);
  z-index: 6;
  opacity: 0.2;
}

.poster__infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  pointer-events: none;

  position: absolute;
  top: 0;
  height: 60%;
  z-index: 7;
}

.poster__notes {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.poster__notes svg path {
  fill: #eca500;
}

.poster__note {
  color: #eca500;
  font-size: 1.4rem;
  margin-right: 5px;
}

.poster__title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
