.row {
  color: white;
  cursor: pointer;
}

.row__posters {
  padding: 20px !important;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  transition: transform ease-in 250ms;
  position: relative;
}

.row__poster:hover {
  transform: scale(1.04);
}

.row__posterLarge:hover {
  transform: scale(1.05);
}

.row__movieBottomInfos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row__movieOverview {
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-50%);
  display: block;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.row__notes {
  display: flex;
  align-items: center;
}

.row__notes svg {
  /* margin-right: 2px; */
  height: 0.7rem;
}

.row__notes svg path {
  fill: #eca500;
}

.row__movieNote {
  color: #eca500;
}
