.row {
  color: white;
  cursor: pointer;
}

.row__posters {
  padding: 20px !important;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  transition: transform ease-in-out 550ms;
}

.row__poster:hover {
  transform: scale(1.03);
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.swiper-button-prev,
.swiper-button-next {
  color: #c70808 !important;
}
