.row {
  color: white;
  cursor: pointer;
}

.row__posters {
  padding: 20px !important;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  transition: transform ease-in 250ms;
}

.row__poster:hover {
  transform: scale(1.04);
}

.row__posterLarge:hover {
  transform: scale(1.05);
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
